@import '@/styles/variables';
@import '@/styles/utils';

.rewards{
   @extend %page-padding;
   display:flex;
   justify-content:space-between;
   padding-bottom:2rem;

   @media (max-width: 1024px){
       display:block;
   }
}