@import '@/styles/variables';


.marquee{
    width:100vw;
    font-family:inherit;
    font-size:110px;
    font-weight:500;
    color:#fff;
    @media(max-width:1024px){
        font-size:100px;
    }
    @media(max-width:760px){
        font-size:85px;
    }

    span{
        margin-right:1rem;
        margin-left:1rem;
        display:flex;
        align-items:center;
        b{
            margin-left:1rem;
            margin-top:1rem;
        }
    }
   
}