@import '@/styles/variables';
@import '@/styles/utils';

.preloader{

    background:$col-dark-900;
    width:100%;
    height:100vh;
    z-index:80;
    position:fixed;
    display:grid;
    place-content:center;
    color:#fff;
    font-family:inherit;
    text-align:center;
    font-weight:500;
    line-height:1.3;
    font-size:30px;
    @media (max-width:500px){
         font-size:25px;
    }
}