@import '@/styles/variables';
@import '@/styles/utils';

.social{
    @extend %page-padding;
    padding-top:2rem;

    &__info{
        display:none;
        
        @media(max-width:860px){
            display:flex;
            justify-content:center;
        }
    }
}