
@font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Regular.eot');
    src: url('../public/fonts/NeueMontreal-Regular.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/NeueMontreal-Regular.woff2') format('woff2'),
        url('../public/fonts/NeueMontreal-Regular.woff') format('woff'),
        url('../public/fonts/NeueMontreal-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Medium.eot');
    src: url('../public/fonts/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('../public/fonts/NeueMontreal-Medium.woff') format('woff'),
        url('../public/fonts/NeueMontreal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Medium.eot');
    src: url('../public/fonts/NeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/NeueMontreal-Medium.woff2') format('woff2'),
        url('../public/fonts/NeueMontreal-Medium.woff') format('woff'),
        url('../public/fonts/NeueMontreal-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
  
  @font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Bold.eot');
    src: url('../public/fonts/NeueMontreal-Bold.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/NeueMontreal-Bold.woff2') format('woff2'),
        url('../public/fonts/NeueMontreal-Bold.woff') format('woff'),
        url('../public/fonts/NeueMontreal-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Light.eot');
    src: url('../public/fonts/NeueMontreal-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/NeueMontreal-Light.woff2') format('woff2'),
        url('../public/fonts/NeueMontreal-Light.woff') format('woff'),
        url('../public/fonts/NeueMontreal-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Neue Montreal';
    src: url('../public/fonts/NeueMontreal-Italic.eot');
    src: url('../public/fonts/NeueMontreal-Italic.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/NeueMontreal-Italic.woff2') format('woff2'),
        url('../public/fonts/NeueMontreal-Italic.woff') format('woff'),
        url('../public/fonts/NeueMontreal-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: 'Pragmatica Cond';
    src: url('../public/fonts/PragmaticaCond-Light.eot');
    src: url('../public/fonts/PragmaticaCond-Light.eot?#iefix') format('embedded-opentype'),
        url('../public/fonts/PragmaticaCond-Light.woff2') format('woff2'),
        url('../public/fonts/PragmaticaCond-Light.woff') format('woff'),
        url('../public/fonts/PragmaticaCond-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}